@inherits Base.PopupMasterComponent
@using Blazorise.Components
@using UIComponents.Models

<style>
    .modal {
        --bs-modal-width: 800px !important;
    }
</style>

<div class="modal fade show d-block" id="contactModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0 m-0">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12 grid-margin stretch-card p-0">
                        <div class="card">
                            <div class="card-body">
                                <div class="float-end">
                                    <button type="button" class="close closebtn btn-lg p-0" aria-label="Close" @onclick=ModalCancel>
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <EditForm Model="@SellOrderDetails" OnValidSubmit="SellOrder" OnInvalidSubmit="InvalidSubmission">
                                    <DataAnnotationsValidator />
                                    <div class="d-flex justify-content-between">
                                        <p class="card-title">Sell Order</p>
                                    </div>

                                    <div class="row pt-2">
                                        <div class="form-group row">
                                            <label for="customers" class="col-sm-3 col-form-label padding-top-nill fw-bold">Customer Name</label>
                                            <div class="col-sm-6">
                                                <Autocomplete TItem="Person" TValue="Person" Placeholder="Type to search..." Data="@Customers"
                                                              TextField="@(( item ) => item.FirstName + " " + item.LastName)" ValueField="@(( item ) => item)"
                                                @bind-SelectedValue="@SelectedCustomer" FreeTyping AutoPreSelect=true CloseOnSelection=true Filter="AutocompleteFilter.Contains">
                                                </Autocomplete>
                                                <ValidationMessage For="@(() => SellOrderDetails.PersonId)" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group row">
                                            <div class="row col-sm-6">
                                                <label for="category" class="col-sm-6 col-form-label padding-top-nill fw-bold">Category</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" id="categoryName" value="@(AvailableStock.CategoryName)" readonly />
                                                </div>
                                            </div>
                                            <div class="row col-sm-6">
                                                <label for="subcategory" class="col-sm-6 col-form-label padding-top-nill fw-bold">SubCategory</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" id="subCategoryName" value="@(AvailableStock.SubCategoryName)" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group row">
                                            <label for="quantity" class="col-sm-3 col-form-label padding-top-nill fw-bold">Quantity</label>
                                            <div class="col-sm-8">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-8 p-0">
                                                            <InputNumber class="form-control" id="quantity" @bind-Value=@Quantity placeholder="Quantity (Pic)" />
                                                        </div>
                                                        <label class="col-4 fs-4 pt-1">@((AvailableStock.AvailableQuantity != null) ? "/" + @AvailableStock.AvailableQuantity : "")</label>
                                                    </div>
                                                </div>
                                                <ValidationMessage For="@(() => Quantity)" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group row">
                                            <label for="kg" class="col-sm-3 col-form-label padding-top-nill fw-bold">Weight</label>
                                            <div class="col-sm-8">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-8  p-0">
                                                            <InputNumber class="form-control" id="kg" @bind-Value=@SellOrderDetails.Kg placeholder="Weight (Kg)" />
                                                        </div>
                                                        <label class="col-4 fs-4 pt-1">@((AvailableStock.AvailableWeight != null) ? "/" + @AvailableStock.AvailableWeight : "")</label>
                                                    </div>
                                                </div>
                                                <ValidationMessage For="@(() => SellOrderDetails.Kg)" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group row">
                                            <label for="price" class="col-sm-3 col-form-label padding-top-nill fw-bold">Price</label>
                                            <div class="col-sm-6">
                                                <InputNumber class="form-control" id="price" @bind-Value=@SellOrderDetails.Price placeholder="Price (Rs)" />
                                                <ValidationMessage For="@(() => SellOrderDetails.Price)" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group row">
                                            <div class="row col-sm-6">
                                                <label for="labour" class="col-sm-4 col-form-label padding-top-nill fw-bold">Labour</label>
                                                <div class="col-sm-8">
                                                    <InputNumber class="form-control" id="price" @bind-Value=@SellOrderDetails.Labour placeholder="(Per Qty)" />
                                                    <ValidationMessage For="@(() => SellOrderDetails.Labour)" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6 row">
                                                <label for="labourAmount" class="col-sm-4 col-form-label padding-top-nill fw-bold">Amount</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="labourAmount" value="@(SellOrderDetails.LabourAmount + " Rs")" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group row">
                                            <div class="row col-sm-6">
                                                <label for="comission" class="col-sm-4 col-form-label padding-top-nill fw-bold">Commission</label>
                                                <div class="col-sm-8">
                                                    <InputNumber class="form-control" id="price" @bind-Value=@SellOrderDetails.Comission placeholder="(Percentage)" />
                                                    <ValidationMessage For="@(() => SellOrderDetails.Comission)" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6 row">
                                                <label for="comissionAmount" class="col-sm-4 col-form-label padding-top-nill fw-bold">Amount</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="commissionAmount" value="@(SellOrderDetails.ComissionAmount + " Rs")" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group row">
                                            <label for="totalAmount" class="col-sm-3 col-form-label padding-top-nill fw-bold">Total Amount</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="totalAmount" value="@(SellOrderDetails.TotalAmount + " Rs")" readonly />
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <label class="text-danger">@ErrorMsg</label>
                                    </div>

                                    <div class="float-right mt-3">
                                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                                        <button type="button" class="btn btn-light" @onclick=@ModalCancel>Cancel</button>
                                    </div>
                                </EditForm>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 