@inherits Base.PopupMasterComponent
@using Blazorise.Components
@using UIComponents.Models

<div class="modal fade show d-block" id="contactModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0 m-0">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12 grid-margin stretch-card p-0">
                        <div class="card">
                            <div class="card-body">
                                <div class="float-end">
                                    <button type="button" class="close closebtn btn-lg p-0" aria-label="Close" @onclick=ModalCancel>
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <EditForm Model="@Order" OnValidSubmit="SaveOrder" OnInvalidSubmit="InvalidSubmission">
                                    <DataAnnotationsValidator />
                                    <div class="d-flex justify-content-between">
                                        <p class="card-title">@(String.IsNullOrEmpty(Id) ? "Add" : "Edit") Purchase Order</p>
                                    </div>

                                    <div class="row pt-2">
                                        <div class="form-group row">
                                            <label for="mobileno" class="col-sm-3 col-form-label padding-top-nill">Supplier Name</label>
                                            <div class="col-sm-6">
                                                <Autocomplete TItem="Person" TValue="Person" Placeholder="Type to search..." Data="@Suppliers"
                                                              TextField="@(( item ) => item.FirstName + " " + item.LastName)" ValueField="@(( item ) => item)"
                                                @bind-SelectedValue="@SelectedSupplier" FreeTyping AutoPreSelect=true CloseOnSelection=true Filter="AutocompleteFilter.Contains">
                                                </Autocomplete>
                                                <ValidationMessage For="@(() => Order.PersonId)" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group row">
                                            <label for="mobileno" class="col-sm-3 col-form-label">Category</label>
                                            <div class="col-sm-3">
                                                <DropdownList TItem="Category" TValue="Category"
                                                              Data="@Categories"
                                                              TextField="@((item)=>item.Name)"
                                                              ValueField="@((item)=>item)"
                                                              Color="Blazorise.Color.Secondary"
                                                @bind-SelectedValue="@SelectedCategoy">
                                                    @SelectedCategoy.Name
                                                </DropdownList>
                                            </div>
                                            <label for="mobileno" class="col-sm-3 col-form-label ">SubCategory</label>
                                            <div class="col-sm-3">
                                                <DropdownList TItem="Models.SubCategory" TValue="Models.SubCategory"
                                                              Data="@SelectedCategoy.SubCategories"
                                                              TextField="@((item)=>item.Name)"
                                                              ValueField="@((item)=>item)"
                                                              Color="Blazorise.Color.Secondary"
                                                @bind-SelectedValue="@SelectedSubCategoy">
                                                    @SelectedSubCategoy.Name
                                                </DropdownList>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group row">
                                            <label for="mobileno" class="col-sm-3 col-form-label padding-top-nill">Quantity</label>
                                            <div class="col-sm-6">
                                                <InputNumber class="form-control" id="quantity" @bind-Value=@Order.Quantity placeholder="Quantity (Pic)" />
                                                <ValidationMessage For="@(() => Order.Quantity)" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group row">
                                            <label for="mobileno" class="col-sm-3 col-form-label padding-top-nill">Weight</label>
                                            <div class="col-sm-6">
                                                <InputNumber class="form-control" id="kg" @bind-Value=@Order.Kg placeholder="Weight (Kg)" />
                                                <ValidationMessage For="@(() => Order.Kg)" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group row">
                                            <label for="mobileno" class="col-sm-3 col-form-label padding-top-nill">Price</label>
                                            <div class="col-sm-6">
                                                <InputNumber class="form-control" id="price" @bind-Value=@Order.Price placeholder="Price (Rs)" required />
                                                <ValidationMessage For="@(() => Order.Price)" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group row">
                                            <label for="mobileno" class="col-sm-3 col-form-label padding-top-nill">Labour</label>
                                            <div class="col-sm-6">
                                                <InputNumber class="form-control" id="price" @bind-Value=@Order.Labour placeholder="Commission/Labour (Rs)" />
                                                <ValidationMessage For="@(() => Order.Labour)" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group row">
                                            <label for="mobileno" class="col-sm-3 col-form-label padding-top-nill">Total Amount</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="totalAmount" value="@(Order.TotalAmount + " Rs")" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="float-right mt-3">
                                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                                        <button type="button" class="btn btn-light" @onclick=@ModalCancel>Cancel</button>
                                    </div>
                                </EditForm>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 