@inherits Base.PopupMasterComponent
@using Blazorise.Components
@using DataModels.Models

<style>
    .modal {
        --bs-modal-width: 800px !important;
    }
</style>

<div class="modal fade show d-block" id="contactModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0 m-0">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12 grid-margin stretch-card p-0">
                        <div class="card">
                            <div class="card-body">
                                <div class="float-end">
                                    <button type="button" class="close closebtn btn-lg p-0" aria-label="Close" @onclick=ModalCancel>
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <EditForm Model="@Order" OnValidSubmit="SaveOrder" OnInvalidSubmit="InvalidSubmission">
                                    <DataAnnotationsValidator />
                                    <div class="d-flex justify-content-between">
                                        <p class="card-title">@(String.IsNullOrEmpty(Id) ? "Add" : "Edit") Purchase Order</p>
                                    </div>

                                    <div class="row">
                                        <div class="form-group row">
                                            <label for="totoalAmount" class="col-sm-3 col-form-label padding-top-nill fw-bold">Order Number</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="totalAmount" value="@(Order.OrderNumber)" readonly />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row pt-2">
                                        <div class="form-group row">
                                            <label for="supplier" class="col-sm-3 col-form-label padding-top-nill fw-bold">Supplier Name</label>
                                            <div class="col-sm-6">
                                                <Autocomplete TItem="Person" TValue="Person" Placeholder="Type to search..." Data="@Suppliers"
                                                              TextField="@(( item ) => item.FirstName + " " + item.LastName)" ValueField="@(( item ) => item)"
                                                @bind-SelectedValue="@SelectedSupplier" FreeTyping AutoPreSelect=true CloseOnSelection=true Filter="AutocompleteFilter.Contains">
                                                </Autocomplete>
                                                <ValidationMessage For="@(() => Order.PersonId)" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group row">
                                            <div class="row col-sm-6">
                                                <label for="category" class="col-sm-4 col-form-label fw-bold">Category</label>
                                                <div class="col-sm-8">
                                                    <DropdownList TItem="Category" TValue="Category"
                                                                  Data="@Categories"
                                                                  TextField="@((item)=>item.Name)"
                                                                  ValueField="@((item)=>item)"
                                                                  Color="Blazorise.Color.Secondary"
                                                    @bind-SelectedValue="@SelectedCategoy">
                                                        @SelectedCategoy.Name
                                                    </DropdownList>
                                                </div>
                                            </div>

                                            <div class="row col-sm-6">
                                                <label for="subcategory" class="col-sm-6 col-form-label fw-bold">SubCategory</label>
                                                <div class="col-sm-6">
                                                    <DropdownList TItem="DataModels.Models.SubCategory" TValue="DataModels.Models.SubCategory"
                                                                  Data="@SelectedCategoy.SubCategories"
                                                                  TextField="@((item)=>item.Name)"
                                                                  ValueField="@((item)=>item)"
                                                                  Color="Blazorise.Color.Secondary"
                                                    @bind-SelectedValue="@SelectedSubCategoy">
                                                        @SelectedSubCategoy.Name
                                                    </DropdownList>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @if (String.IsNullOrEmpty(Id)) @*NOT AVAILABLE FOR EDIT MODE*@
                                    {
                                        <div class="row">
                                            <div class="form-group row">
                                                <label for="subcategory" class="col-sm-3 col-form-label fw-bold">Purchase Type</label>
                                                <div class="col-sm-6 d-flex align-items-center">
                                                    <Blazorise.RadioGroup TValue="string" Name="OrderCategory" Class="d-flex align-items-center" @bind-CheckedValue="@SelectedRadioValue">
                                                        <Blazorise.Radio Value="@("byorder")" />
                                                        <label class="mr-2 fw-bold" style="margin-bottom:0!important">By Order</label>
                                                        <Blazorise.Radio Value="@("forsale")" Class="ms-2 " />
                                                        <label class="fw-bold" style="margin-bottom:0!important">For Sale</label>
                                                    </Blazorise.RadioGroup>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    <div class="row">
                                        <div class="form-group row">
                                            <label for="quantity" class="col-sm-3 col-form-label padding-top-nill fw-bold">Quantity</label>
                                            <div class="col-sm-6">
                                                <InputNumber class="form-control" id="quantity" @bind-Value=@Quantity placeholder="Quantity (Pic)" />
                                                <ValidationMessage For="@(() => Quantity)" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group row">
                                            <label for="kg" class="col-sm-3 col-form-label padding-top-nill fw-bold">Weight</label>
                                            <div class="col-sm-6">
                                                @if (Order.IsByQty)
                                                {
                                                    <InputNumber class="form-control" id="kg" @bind-Value=@Order.Kg placeholder="Weight (Kg)" readonly />
                                                }
                                                else
                                                {
                                                    <InputNumber class="form-control" id="kg" @bind-Value=@Order.Kg placeholder="Weight (Kg)" />
                                                }
                                                <ValidationMessage For="@(() => Order.Kg)" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group row">
                                            <label for="price" class="col-sm-3 col-form-label padding-top-nill fw-bold">Price</label>
                                            <div class="col-sm-6">
                                                @if (Order.IsForSale)
                                                {
                                                    <InputNumber class="form-control" id="price" @bind-Value=@Order.Price placeholder="Price (Rs)" readonly />
                                                }
                                                else
                                                {
                                                    <InputNumber class="form-control" id="price" @bind-Value=@Order.Price placeholder="Price (Rs)" />
                                                    <ValidationMessage For="@(() => Order.Price)" />
                                                }
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group row">
                                            <div class="row col-sm-6">
                                                <label for="comission" class="col-sm-4 col-form-label padding-top-nill fw-bold">Commission</label>
                                                <div class="col-sm-8">
                                                    <InputNumber class="form-control" id="price" @bind-Value=@Order.Comission placeholder="(Percentage)" />
                                                    <ValidationMessage For="@(() => Order.Comission)" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6 row">
                                                <label for="comissionAmount" class="col-sm-4 col-form-label padding-top-nill fw-bold">Amount</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="commissionAmount" value="@(Order.ComissionAmount == null ? "" : Order.ComissionAmount + " Rs")" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group row">
                                            <div class="row col-sm-6">
                                                <label for="labour" class="col-sm-4 col-form-label padding-top-nill fw-bold">Labour</label>
                                                <div class="col-sm-8">
                                                    <InputNumber class="form-control" id="price" @bind-Value=@Order.Labour placeholder="(Per Qty)" />
                                                    <ValidationMessage For="@(() => Order.Labour)" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6 row">
                                                <label for="labourAmount" class="col-sm-4 col-form-label padding-top-nill fw-bold">Amount</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="labourAmount" value="@(Order.LabourAmount == null ? "" : Order.LabourAmount + " Rs")" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group row">
                                            <label for="fare" class="col-sm-3 col-form-label padding-top-nill fw-bold">Fare</label>
                                            <div class="col-sm-6">
                                                <InputNumber class="form-control" id="price" @bind-Value=@Order.Fare placeholder="Fare (Rs)" />
                                                <ValidationMessage For="@(() => Order.Fare)" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group row">
                                            <label for="totoalAmount" class="col-sm-3 col-form-label padding-top-nill fw-bold">Total Amount</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="totalAmount" value="@(Order.TotalAmount + " Rs")" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="float-right mt-3">
                                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                                        <button type="button" class="btn btn-light" @onclick=@ModalCancel>Cancel</button>
                                    </div>
                                </EditForm>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 