@page "/OrderList"


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <p class="card-title">Purchase Order List</p>
                    <div class="d-flex align-items-center">
                        <div class="card card-green">
                            <div class="card-body text-center border-radius-10" style="padding:0.5rem;border-radius:inherit;" @onclick="() => AddOrder(0)">
                                <i class="ti-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
                @{
                    int serialNumber = 1;
                }
                <div class="table-responsive pt-3">
                    <table id="doctorList" class="table expandable-table">
                        <thead>
                            <tr class="text-center">
                                <th>Sr. No.</th>
                                <th>Supplier</th>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Weight (Kg)</th>
                                <th>Price</th>
                                <th>Labour</th>
                                <th>Total Amount (Rs)</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Orders.Count > 0)
                            {
                                @foreach (var data in Orders)
                                {
                                    <tr id="@("row"+data.Id)" class="text-center">
                                        <td>@serialNumber</td>
                                        <td>@data.PersonName</td>
                                        <td>@data.SubCategoryName</td>
                                        <td>@(data.Quantity == null ? "-" : data.Quantity)</td>
                                        <td>@(data.Kg == null ? "-" : data.Kg)</td>
                                        <td>@data.Price</td>
                                        <td>@(data.Labour == null ? "-" : data.Labour)</td>
                                        <td>@data.TotalAmount</td>
                                        <td>
                                            <button type="button" class="btn btn-icon btn-outline-primary p-0 ml-2 mr-2" @onclick="() => AddOrder(data.Id)">
                                                <i class="ti-pencil m-0"></i>
                                            </button>
                                            <button type="button" class="btn btn-icon btn-outline-danger p-0 ml-5" @onclick="() => DeleteOrder(data.Id)">
                                                <i class="ti-trash m-0"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    serialNumber++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="3" class="text-center"> There Is No Orders To Display</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>