@page "/OrderList"


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <p class="card-title">Purchase Order List</p>
                    <div class="d-flex align-items-center">
                        <div class="card card-green">
                            <button class="btn btn-primary btn-lg text-white" style="padding:0.5rem;border-radius:inherit;" @onclick="() => AddOrder(0)">
                                <i class="mdi mdi-plus"></i>
                                Add
                            </button>
                        </div>
                    </div>
                </div>
                @{
                    int serialNumber = 1;
                }
                <div class="table-responsive pt-3">
                    <table id="orderList" class="table table-striped expandable-table table-bordered">
                        <thead>
                            <tr class="text-center">
                                <th>Sr. No.</th>
                                <th>Order No.</th>
                                <th>Supplier</th>
                                <th>Category</th>
                                <th>Quantity</th>
                                <th>Weight (Kg)</th>
                                <th>Price</th>
                                <th>Labour</th>
                                <th>Commission</th>
                                <th>Total Amount (Rs)</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Orders.Count > 0)
                            {
                                @foreach (var data in Orders)
                                {
                                    <tr id="@("row"+data.Id)" class="text-center">
                                        <td>@serialNumber</td>
                                        <td>@data.OrderNumber</td>
                                        <td>@data.PersonName</td>
                                        <td>@data.CategoryName</td>
                                        <td>@(data.Quantity == null ? "-" : data.Quantity)</td>
                                        <td>@(data.Kg == null ? "-" : data.Kg)</td>
                                        <td>@data.Price</td>
                                        <td>@(data.LabourAmount == null ? "-" : data.LabourAmount)</td>
                                        <td>@(data.ComissionAmount == null ? "-" : data.ComissionAmount)</td>
                                        <td>@data.TotalAmount</td>
                                        <td><label class="@(data.PaymentStatus == DataModels.Enums.PaymentStatus.Pending ? "badge badge-warning" : "badge badge-success")">@data.PaymentStatus</label></td>
                                        <td>
                                            <button type="button" class="btn btn-icon btn-outline-primary p-1 mx-2" @onclick="() => AddOrder(data.Id)">
                                                <i class="ti-pencil m-0"></i>
                                            </button>
                                            <button type="button" class="btn btn-icon btn-outline-danger p-1" @onclick="() => DeleteOrder(data.Id)">
                                                <i class="ti-trash m-0"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    serialNumber++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="3" class="text-center"> There Is No Orders To Display</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>